@model blog.Models.Article

@{
ViewBag.Title = "Delete";
}

    <h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("Delete", "Article", FormMethod.Post, new { @class = "form-horizontal" }))

        {
        @Html.AntiForgeryToken()
        
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })

            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })

                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @readonly = "readonly", @rows = "7" })
                    </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3">
                @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
        
        @Html.ValidationSummary("", new { @class = "text-danger" })

        }