@model blog.Models.ArticleViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2><br />

@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AuthorId)

    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            var myNicEditor = new nicEditor();
            myNicEditor.setPanel('myNicPanel');
            myNicEditor.addInstance('myInstance2');
        });
    </script>
    <div id="myNicPanel" style="width:auto;"></div><br />

    <h4>Title</h4>
        @Html.TextBoxFor(m => m.Title, new { @id = "myInstance1", @class = "form-control" })
    
    <h4>Content</h4>
        @Html.TextAreaFor(m => m.Content, new { @id = "myInstance2", @class = "form-control" })

    <br />
    <p>
        @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "btn btn-default" })
        <input type="submit" value="Edit" class="btn btn-success" />
    </p>
}
